<div class="container">
  <center>
    <h1> Experience </h1>
  </center>
  <div class="post-container">
    <div class="post-image">
      <img src="assets/images/baytek.jpg">
    </div>
    <div class="post-content">
      Web Developer Intern <br>
      Baytek <br>
      May 2017 - Present <br>
      <ul class="closer">
        <li> WordPress </li>
        <li> PHP </li>
        <li> HTML/CSS </li>
        <li> Flexbox </li>
        <li> Verified and closed old bugs </li>
      </ul>
    </div>
  </div>
  <br>
  <div class="post-container">
    <div class="post-image">
      <img src="assets/images/titus.png">
    </div>
    <div class="post-content">
      Mobile Quality Assurance Intern <br>
      TITUS <br>
      September 2016 - December 2016 <br>
      <ul class="closer">
        <li> Regression testing on iOS </li>
        <li> Regression testing on Android </li>
        <li> Regression testing on Mac </li>
        <li> Found and logged new bugs </li>
        <li> Verified and closed old bugs </li>
      </ul>
    </div>
  </div>
</div>
