<div class="container" align="center">

  <h1> Experience </h1>

  <hr id="experiencehr"><br>

  <div class="workcontainer">
    <div class="worklogo_container">
      <img src="assets/images/baytek.jpg" class="worklogo">
    </div>
    <div class="worktext">
      Web Developer Intern <br>
      Baytek <br>
      May 2017 - Present <br>
      <ul class="bulletpoints">
        <li> WordPress </li>
        <li> PHP </li>
        <li> HTML/CSS </li>
        <li> Flexbox </li>
        <li> SASS </li>
      </ul>
    </div>
  </div>

  <div class="workcontainer">
    <div class="worklogo_container">
      <img src="assets/images/titus.png" class="worklogo" id="titus">
    </div>
    <div class="worktext">
      Mobile Quality Assurance Intern <br>
      TITUS <br>
      September 2016 - December 2016 <br>
      <ul class="bulletpoints">
        <li> Regression testing on iOS </li>
        <li> Regression testing on Android </li>
        <li> Regression testing on Mac </li>
        <li> Found and logged new bugs </li>
        <li> Verified and closed old bugs </li>
      </ul>
    </div>
  </div>

</div>
