<div class="container">
  <center>
    <h1> Hackathons </h1>
  </center>

  <div class="post-container hackathon">
    <div class="post-image">
      <img src="assets/images/hackinghealth.png">
    </div>
    <div class="post-content">
      <b> Hacking Health Ottawa 2017 | Shopify Building </b><br>
      April 28-30, 2017 <br>
      <span id="textblue"> Private Repository </span><br>
      <span id="hackathontext">
        Group of 5 programmers, we teamed with a neurosurgeon, a nurse practitioner and a registered nurse to build
        a solution for patients with brain tumours. The webapp showed a visual representation of the progress of
        the patient, included relevant information depending on the progress of the patient through their journey,
        allowed booking appointments and helped facilitate patient navigation on the hospital campus with a map
        showing the specific location of the room. The webapp can be accessed by the patient, the caregiver and
        the doctor. Technologies used: HTML/CSS, JavaScript, Django.
      </span>
    </div>
  </div>

  <br><br>

  <div class="post-container hackathon">
    <div class="post-image twoimage">
      <img src="assets/images/decode.png">
    </div>
    <div class="post-image">
      <img src="assets/images/shopify.png">
    </div>
    <div class="post-content" id="twoimage">
      <b> deCODE 2017 | University of Ottawa </b><br>
      March 31 - April 1, 2017 <br>
      <a href="https://github.com/jaydenwindle/decode2017/">
        <div id="decode2017">
          <span>
            https://github.com/jaydenwindle/decode2017/ <br>
          </span>
        </div>
      </a>
      <span id="hackathontext">
        In a team of 7, we teamed up with Shopify to create a giveaway app using their Shopify
        Partner Program. Used Ruby on Rails, ngrok, JavaScript and HTML/CSS.
      </span>
    </div>
  </div>

  <br><br>

  <div class="post-container hackathon">
    <div class="post-image">
      <img src="assets/images/robohacks2017.jpg">
    </div>
    <div class="post-content">
      <b> RoboHacks 2017 | McGill University </b><br>
      March 25-26, 2017 <br>
      <a href="https://github.com/rickydam/Constellation-Buddy/">
        <div id="robohacks2017">
          <span>
            https://github.com/rickydam/Constellation-Buddy/ <br>
          </span>
        </div>
      </a>
      <span id="hackathontext">
        In a team of 6, we built a prototype telescope using a camera module, two servos and a myRIO
        embedded device by National Instruments. GUI clicks on constellations positions the telescope.
      </span>
    </div>
  </div>

  <br><br>

  <div class="post-container hackathon">
    <div class="post-image twoimage">
      <img src="assets/images/decode.png">
    </div>
    <div class="post-image">
      <img src="assets/images/foko.png">
    </div>
    <div class="post-content" id="twoimage">
      <b> deCODE 2016 | University of Ottawa </b><br>
      April 1-2, 2016 <br>
      <a href="https://github.com/roncodingenthusiast/front-end-fokodecode16/">
        <div id="decode2016">
          <span>
            https://github.com/roncodingenthusiast/front-end-fokodecode16/ <br>
          </span>
        </div>
      </a>
      <span id="hackathontext">
        In a team of 10, we teamed up with Foko, a local startup to implement a feature for their
        interactive photo sharing communication service. Used HTML/CSS and JavaScript.
      </span>
    </div>
  </div>

</div>
