<div class="container">
  <center>
    <h1> Welcome to my website! </h1>
    <span>
      Hi!
      <br>
      My name is <b>Ricky</b>.
      <br>
      I <span id="heart">❤</span> Mobile Development! </span>
    <br>
    <img src="assets/images/me.jpg" width="180px" id="me">
    <br><br>
    <span>
      4th Year Computer Engineering Student <br>
      Carleton University, Ottawa, Ontario
    </span>
    <br>
    <img src="assets/images/carleton.png" width="150px" id="carleton">
  </center>
</div>
