<div class="container">
  <center>
    <h1> Welcome to my website! </h1>
    <span> Web Developer Intern at <a href="http://baytek.ca"><b>Baytek</b></a> for Summer 2017 </span>
    <br>
    <img src="assets/images/baytek.jpg" width="100px" id="baytek">
    <br><br>
    <span>
      Hi!
      <br>
      My name is <b>Ricky</b>.
      <br>
      I <span id="heart">❤</span> web development! </span>
    <br>
    <img src="assets/images/me.jpg" width="180px" id="me">
    <br><br>
    <span>
      4th Year Computer Engineering Student <br>
      Carleton University
    </span>
    <br>
    <img src="assets/images/carleton.png" width="150px" id="carleton">
  </center>
</div>
