<div class="container" id="theProjects">
  <center>
    <h1> Projects </h1>

    <hr id="projectshr"><br>

    <div class="theContainer">
      <div class="left">
        <img class="theProjectImg addBorder" src="assets/images/LearnEveryday.png">
      </div>
      <div class="right">
        <span><br>
          <strong><font size="6" >LearnEveryday </font></strong><br><br>
          Languages: <b> HTML, CSS, JavaScript, AngularJS, NodeJS, PHP, MySQL </b><br>
          Development: <b> May 2017 - Present </b><br>

          <a href="https://github.com/rickydam/LearnEveryday">
              <span>LearnEveryday GitHub Repo</span>
          </a><br class="linebreak"><br class="linebreak">
          <span>
            A project to keep track of the new things I learn
            everyday. Communication from JavaScript to PHP
            to MySQL and vice-versa, challenging but very
            useful. Working on adding authentication and
            embed option.
          <br><br>
        </span>
      </div>
    </div><br><br>

    <div class="theContainer">
      <div class="left">
        <img class="theProjectImg addBorder" src="assets/images/weather.png">
      </div>
      <div class="right">
        <span><br>
          <strong><font size="6" > Weather API </font></strong><br><br>
          Languages: <b> HTML, JavaScript </b><br>
          Development: <b> February 2017 </b><br>

          <a href="https://github.com/rickydam/WeatherWebApp">
              <span>WeatherWebApp GitHub Repo</span><br>
          </a>
          <span>
          <a href="http://rickydam.com/WeatherWebApp/">
              <span>http://rickydam.com/WeatherWebApp/</span><br>
          </a><br>
          <span>
          A website that finds the user's current location using the
          browser's geolocation feature and then displays weather information
          based on that location using API provided by OpenWeatherMap.<br><br>
        </span>
      </div>
    </div><br><br>

    <div class="theContainer">
      <div class="left">
        <img class="theProjectImg" src="assets/images/instagram.png">
      </div>
      <div class="right">
        <span><br>
          <strong><font size="6" > Instagram Clone </font></strong><br><br>
          Languages: <b> HTML, JavaScript </b><br>
          Development: <b> December 2016 - Present </b><br>

          <a href="https://github.com/rickydam/InstagramClone">
              <span>InstagramClone GitHub Repo</span><br>
          </a>
          <span>
          <a href="https://rickydam-instagram.herokuapp.com/">
              <span>https://rickydam-instagram.herokuapp.com/</span><br>
          </a><br>
          <span>
            A photo-sharing WebApp with user accounts that can store images.
            Learning user authentication and password salting &amp; hashing using SHA256.<br><br>
        </span>
      </div>
    </div>

    <div class="theContainer">
      <div class="left">
        <img class="theProjectImg" src="assets/images/todolist.png">
      </div>
      <div class="right">
        <span><br>
          <strong><font size="6" > ToDoList </font></strong><br><br>
          Languages: <b> HTML, JavaScript </b><br>
          Development: <b> November 2016 - December 2016 </b><br>

          <a href="https://github.com/rickydam/ToDoList">
              <span>ToDoList GitHub Repo</span><br>
          </a>
          <span>
          <a href="https://rickydam-todolist.herokuapp.com/">
              <span>https://rickydam-todolist.herokuapp.com/</span><br>
          </a><br>
          <span>
            A ToDoList WebApp which makes use of MongoDB, Express, Angular and Node.
            WebApp deployed on Heroku.<br><br>
        </span>
      </div>
    </div>

    <div class="theContainer">
      <div class="left">
        <img class="theProjectImg" src="assets/images/paint.png">
      </div>
      <div class="right">
        <span><br><br class="linebreak"><br class="linebreak"><br class="linebreak">
          <strong><font size="6" > Paint Replica </font></strong><br><br>
          Language: <b> C# </b><br>
          Development: <b> July 2016 - August 2016 </b><br>

          <a href="https://github.com/rickydam/Paint-Replica">
              <span>Paint Replica GitHub Repo</span><br>
          </a><br>
          <span>
            Creating my own version of Microsoft Paint using Microsoft Visual Studio.
            Currently only allows drawing on the canvas.<br><br>
        </span>
      </div>
    </div><br><br><br><br><br>

    <div class="theContainer">
      <div class="left">
        <img class="theProjectImg addBorder" src="assets/images/json.png">
      </div>
      <div class="right">
        <span><br>
          <strong><font size="6" > API &amp; JSON </font></strong><br><br>
          Language: <b> Java </b><br>
          Development: <b> June 2016 </b><br>

          <a href="https://github.com/rickydam/API-JSON">
              <span>API JSON GitHub Repo</span><br>
          </a><br>
          <span>
            Parsing a 60000 byte JSON data file and accessing specific elements such as item variants and prices.
            Code written in Java and makes use of both the default JSON and the simple JSON library.
            <br><br>
        </span>
      </div>
    </div><br>

    <div class="theContainer">
      <div class="left">
        <img class="theProjectImg" src="assets/images/TFTP.png">
      </div>
      <div class="right">
        <span><br class="linebreak">
          <strong><font size="6" > TFTP File Transfer Application </font></strong><br><br>
          Language: <b> Java </b><br>
          Development: <b> May 2016 - June 2016 </b><br>

          <a href="https://github.com/rickydam/TFTP_Application">
              <span>TFTP Application GitHub Repo</span><br>
          </a><br>
          <span>
            A file transfer application implementing TFTP written in Java. The application
            includes an error simulator to create errors and shows the unreliability of UDP.
            <br><br>
        </span>
      </div>
    </div>

    <div class="theContainer">
      <div class="left">
        <img class="theProjectImg" src="assets/images/majesticcleaners.jpg">
      </div>
      <div class="right">
        <span><br>
          <strong><font size="6" > Majestic Cleaners &amp; Laundry </font></strong><br><br>
          Language: <b> HTML/CSS  </b><br>
          Development: <b> April 2016 - Present </b><br>

          <a href="https://github.com/majesticcleaners/majesticcleaners.github.io">
              <span>MajesticCleaners GitHub Repo</span><br>
          </a>
          <a href="http://majesticcleaners.github.io/">
              <span>http://majesticcleaners.github.io/</span><br>
          </a><br>
          <span>
            A website made for an Ottawa Local Business called Majestic Cleaners &amp; Laundry
            located at the intersection of Gladstone Avenue and Bay Street. The website has
            information about prices, normal and holiday hours, photos of the inside,
            a map for its location and contact information.<br><br>
        </span>
      </div>
    </div>

    <div class="theContainer">
      <div class="left">
        <img class="theProjectImg" src="assets/images/scrapy.png" id="scrapy">
      </div>
      <div class="right">
        <span><br><br class="linebreak">
          <strong><font size="6" > Web Crawling Tool </font></strong><br><br>
          Language: <b> Python </b><br>
          Development: <b> March 2016 </b><br>

          <a href="https://github.com/rickydam/CrawlingTool_Scrapy">
              <span>CrawlingTool Scrapy GitHub Repo</span><br>
          </a><br>
          <span>
            A project to learn using Scrapy, a Python general purpose framework. Extracted
            information from websites using APIs and stored that data on a JSON file.<br><br>
        </span>
      </div>
    </div>

    <div class="theContainer">
      <div class="left">
        <img class="theProjectImg" src="assets/images/stopwatch.png" id="stopwatch">
      </div>
      <div class="right">
        <span><br><br class="linebreak"><br class="linebreak">
          <strong><font size="6" > Stopwatch </font></strong><br><br>
          Language: <b> Java </b><br>
          Development: <b> February 2016 </b><br>

          <a href="https://github.com/rickydam/Android-Stopwatch">
              <span>Stopwatch GitHub Repo</span><br>
          </a><br>
          <span>
            My first android app. A stopwatch made using Android Studio.
            Tested on an LG G3 model LG-D852 running Lollipop 5.0.1.
            <br><br>
        </span>
      </div>
    </div><br><br><br><br>

    <div class="theContainer">
      <div class="left">
        <img class="theProjectImg" src="assets/images/calculator.png" id="calculator">
      </div>
      <div class="right">
        <span><br><br class="linebreak">
          <strong><font size="6" > Calculator </font></strong><br><br>
          Language: <b> Java </b><br>
          Development: <b> June 2015 - October 2015 </b><br>

          <a href="https://github.com/rickydam/Java-Calculator">
              <span>Calculator GitHub Repo</span><br>
          </a><br>
          <span>
            A java calculator for simple calculations.
            The project makes use of the java foundation class, abstract window toolkit.
            <br><br>
        </span>
      </div>
    </div>

    <div class="theContainer" id="ProteinCounter">
      <div class="left">
        <img class="theProjectImg" src="assets/images/proteincounter.png">
      </div>
      <div class="right">
        <span><br><br class="linebreak"><br class="linebreak">
          <strong><font size="6" > Protein Counter </font></strong><br><br>
          Language: <b> Java </b><br>
          Development: <b> June 2015 - July 2015 </b><br>

          <a href="https://github.com/rickydam/Java-ProteinCounter">
              <span>ProteinCounter GitHub Repo</span><br>
          </a><br>
          <span>
            A java GUI application which consists of items such as JButtons,
            JLabels, JPanels, JTextAreas, JMenuItems and JTextFields.
            <br><br>
        </span>
      </div>
    </div>
  </center>
  <br><br>
</div>
