<div class="container">
  <center>
    <h1> Resume </h1>
    <hr id="resumehr"><br>
    <object type="application/pdf" data="assets/other/resume.pdf" id="resume">
      <span>
        PDF cannot be loaded on mobile. <br>
        Download link:
        <a href="assets/other/Resume.pdf"><b> resume.pdf </b></a><br><br>
        Here it is as an image. <br><br>
        <center>
          <img src="assets/images/Resume.png" width="100%">
        </center>
      </span>
    </object>
    <br><br class="linebreak">
</center>
</div>
