<div class="container" align="center">
  <center>
    <h1> Skills </h1>
  </center>
  <hr id="skillshr">
  <table id="mySkills">
    <tr>
      <td><span>Currently learning:</span></td>
      <td><span>Android and iOS Development.</span></td>
    </tr>
    <tr>
      <td><span>Comfortable with:</span></td>
      <td><span>Java, Ruby on Rails and Swift.</span></td>
    </tr>
    <tr>
      <td>Tools used:</td>
      <td><span>Heroku, AWS S3 and Firebase Cloud Messaging.</span></td>
    </tr>
    <tr>
      <td>Methods of development used:</td>
      <td>Full Stack, RESTful API, MVC, Agile and CMS.</td>
    </tr>
  </table>
</div>
