<div class="container">
  <center>
    <h1> Skills </h1>
  </center>

  <hr id="skillshr"><br>

  <div class="mainContainer" align="center">
    <div class="leftContainer">
      <span><font size="5"><b> Languages </b></font></span>
    </div>
    <div class="rightContainer">
      <ul>
        <li> JavaScript </li>
        <li> HTML </li>
        <li> CSS </li>
        <li> PHP </li>
        <li> Java </li>
        <li> C </li>
        <li> Python </li>
        <li> C# </li>
      </ul>
    </div>
  </div>

  <hr class="theLine">

  <div class="mainContainer" align="center">
    <div class="leftContainer">
      <span><font size="5"><b> Frameworks </b></font></span>
    </div>
    <div class="rightContainer">
      <ul>
        <li> AngularJS </li>
        <li> NodeJS </li>
        <li> MongoDB </li>
        <li> jQuery </li>
        <li> Bootstrap </li>
        <li> SASS </li>
        <li> Flexbox </li>
      </ul>
    </div>
  </div>

  <hr class="theLine">

  <div class="mainContainer" align="center">
    <div class="leftContainer">
      <span><font size="5"><b> Development </b></font></span>
    </div>
    <div class="rightContainer">
      <ul>
        <li> Agile </li>
        <li> FullStack </li>
        <li> RESTfulAPI </li>
        <li> CMS </li>
        <li> Agile </li>
        <li> MVC </li>
      </ul>
    </div>
  </div>

  <hr class="theLine">

  <div class="mainContainer" align="center">
    <div class="leftContainer">
      <span><font size="5"><b> Tools </b></font></span>
    </div>
    <div class="rightContainer">
      <ul>
        <li> Git </li>
        <li> Vim </li>
        <li> WordPress </li>
        <li> SourceTree </li>
        <li> Heroku </li>
        <li> VisualStudio </li>
        <li> Eclipse </li>
        <li> AndroidStudio </li>
      </ul>
    </div>
  </div>

  <hr class="theLine">

  <div class="mainContainer" align="center">
    <div class="leftContainer" id="OperatingSystems">
      <span><font size="5"><b> Operating Systems </b></font></span>
    </div>
    <div class="rightContainer">
      <ul>
        <li> Windows </li>
        <li> Mac OS X </li>
        <li> Ubuntu </li>
      </ul>
    </div>
  </div>

</div>
