body {
  margin-top: 20px;
}
a {
  text-decoration: none;
}
a:hover {
  color: purple;
  text-decoration: underline;
}
a img:hover {
  opacity: 0.5;
}
button {
  padding-top: 5px;
  padding-bottom: 5px;
}
.footerinfo {
  color: #AAAAAA;
}
#heart {
  color: red;
}
#me {
  margin-top: 5px;
}
hr {
  border: 1px solid lightgray;
}
#footerhr {
  width: 320px;
  max-width: 100%;
}
.customNavbar {
  width: 800px;
  height: 30px;
}
.nav_item {
  width: 20%;
  background-color: white;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
}
.nav_item > a {
  width: 100%;
  height: 100%;
  padding-top: 10px;
  display: block;
  border: 1px solid black;
  text-decoration: none;
  color: black;
}
.nav_item > a:hover {
  background-color: lightgray;
}
.active {
  background-color: lightgray;
}

@media only screen and (max-width: 900px) {
  .linebreak {
    display: none;
  }
  .customNavbar {
    width: 90%;
  }
}
@media only screen and (max-width: 450px) {
  #home_item {
    width: 50px;
  }
  #resume_item {
    width: 60px;
  }
  #projects_item {
    width: 60px;
  }
  #experience_item {
    width: 80px;
  }
  #skills_item {
    width: 50px;
  }
  .customNavbar {
    width: auto;
  }
}

/* -------------- SOCIAL ICONS -------------- */
#stackoverflow {
  border: 2px solid #A8A8A8;
  border-radius: 50px;
  box-sizing: border-box;
  margin-left: 2px;
  width: 40px;
}
#github {
  width: 36px;
  margin-bottom: 2px;
}
#linkedin {
  width: 40px;
}
#keybase {
  margin-left: 2px;
  width: 41px;
}
#baytek {
  margin-top: 5px;
}
#carleton {
  margin-top: 5px;
}
.social_icons {
  text-decoration: none!important;
}

/* --------------- EXPERIENCE --------------- */
#experiencehr {
  width: 180px;
  margin-top: -20px;
}
.bulletpoints {
  margin-top: 5px;
  margin-left: -10px;
}
.workcontainer {
  width: 330px;
  margin-bottom: 200px;
  padding-bottom: 5px;
}
.worklogo {
  width: 80px;
}
.worklogo_container {
  width: 80px;
  display: inline-block;
  float: left;
  margin: 5px;
}
.worktext {
  width: 230px;
  display: inline-block;
  float: right;
  margin: 5px;
  text-align: left;
}
#titus {
  border: 1px solid lightgray;
}

/* ---------------- PROJECTS ---------------- */
.left {
  width: 30%;
  display: inline-block;
  margin-left: 20%;
  float: left;
  height: 300px;
}
.right {
  width: 30%;
  display: inline-block;
  margin-right: 20%;
  float: right;
}
.theContainer {
  width: 100%;
  padding-bottom: 350px;
}
.theProjectImg {
  max-width: 100%;
  max-height: 100%;
}
#projectshr {
  width: 150px;
  margin-top: -20px;
}
#stopwatchLeft {
  height: 400px;
}
.addBorder {
  border: 1px solid black;
}

@media only screen and (max-width: 1600px) {
  .left {
    width: 40%;
    margin-left: 10%;
  }
  .right {
    width: 40%;
    margin-right: 10%;
  }
}

@media only screen and (max-width: 1200px) {
  .left {
    width: 50%;
    margin-left: 0%;
  }
  .right {
    width: 50%;
    margin-right: 0%;
  }
}

@media only screen and (max-width: 900px) {
  .left {
    width: 100%;
    margin-left: 0px;
    height: auto;
  }
  .right {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 50px;
    border-bottom: 2px solid lightgray;
  }
  #ProteinCounter > .right {
    margin-bottom: 20px;
    border-bottom: 0px;
  }
}

/* ----------------- RESUME ----------------- */
#resume {
  width: 60%;
  height: 100%;
}
#resumehr {
  width: 150px;
  margin-top: -20px;
}

@media only screen and (max-width: 1400px) {
  #resume {
    width: 80%;
  }
}

@media only screen and (max-width: 1000px) {
  #resume {
    width: 100%;
  }
}

/* ----------------- SKILLS ----------------- */
.mainContainer {
  width: 100%;
}
.leftContainer {
  width: 130px;
  display: inline-block;
  text-align: right;
  vertical-align: top;
}
.rightContainer {
  width: 130px;
  display: inline-block;
  text-align: left;
  vertical-align: top;
  margin-top: -8px;
}
.theLine {
  width: 300px;
  max-width: 100%;
  border: 1px solid lightgray;
}
.twoWords {
  width: 200px;
  margin-left: -70px;
}
#skillshr {
  width: 100px;
  margin-top: -20px;
}

@media only screen and (max-width: 400px) {
  .twoWords {
    width: 130px;
    margin-left: 0px;
  }
}
