body {
    font-family: helvetica, sans-serif;
    display: flex;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    margin: auto;
}

.section {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
}

.social_icons_container {
    align-items: center;
    display: flex;
    width: 100%;
}

a.social_icons {
    display: inline-block;
    text-decoration: none;
}

#github {
    padding-right: 2px;
    width: 38px;
}

#linkedin {
    padding-left: 2px;
    width: 40px;
}

#stackoverflow {
    width: 44px;
}

#gitlab {
    width: 32px;
}